h1{
    color: rgb(192, 68, 11);
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{

    display: flex;
}
.nav_title{
    font-size: 45px;
    font-weight: 800;

}
.text_primary{
    color: #FD6E0A;
}